<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>reset</string>
		<key>icon-image</key>
		<string>NoEffects.png</string>
		<key>icon-image-pressed</key>
		<string>NoEffects_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>0</integer>
		<key>animation-image-prefix</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>Octopus.png</string>
		<key>icon-image-pressed</key>
		<string>Octopus_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACK_OCTO_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>Window.png</string>
		<key>icon-image-pressed</key>
		<string>Window_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>0</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_WINDOW_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>Bugs.png</string>
		<key>icon-image-pressed</key>
		<string>Bugs_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACKING_BUGS_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>Cloud.png</string>
		<key>icon-image-pressed</key>
		<string>Cloud_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>143</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_CLOUD_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>Icecream.png</string>
		<key>icon-image-pressed</key>
		<string>Icecream_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_ICE_CREAM_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>Mouth.png</string>
		<key>icon-image-pressed</key>
		<string>Mouth_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>119</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_MOUTH_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>Hands.png</string>
		<key>icon-image-pressed</key>
		<string>Hands_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_Audience_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>Finger.png</string>
		<key>icon-image-pressed</key>
		<string>Finger_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>47</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_HAND_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>Dog.png</string>
		<key>icon-image-pressed</key>
		<string>Dog_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>155</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_DOG_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>Thought.png</string>
		<key>icon-image-pressed</key>
		<string>Thought_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>167</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACK_SHEEP_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>House.png</string>
		<key>icon-image-pressed</key>
		<string>House_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACK_NOVA_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>Elephant.png</string>
		<key>icon-image-pressed</key>
		<string>Elephant_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>83</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_ELEPHANT_</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>Bee.png</string>
		<key>icon-image-pressed</key>
		<string>Bee_pressed.png</string>
		<key>animation-frames-amount</key>
		<integer>47</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_BEE_</string>
	</dict>
</array>
</plist>
