<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>reset</string>
		<key>icon-image</key>
		<string>none.png</string>
		<key>icon-image-pressed</key>
		<string>noneBlue.png</string>
		<key>animation-frames-amount</key>
		<integer>0</integer>
		<key>animation-image-prefix</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>Octopus.png</string>
		<key>icon-image-pressed</key>
		<string>OctopusBlue.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACK_OCTO_</string>
		<key>animation-height</key>
		<integer>500</integer>
		<key>animation-width</key>
		<integer>450</integer>
		<key>animation-scale</key>
		<string>1.9</string>
		<key>animation-y-offset</key>
		<string>-0.1</string>
		<key>animation-x-offset</key>
		<string>0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>window.png</string>
		<key>icon-image-pressed</key>
		<string>windowblue.png</string>
		<key>animation-frames-amount</key>
		<integer>0</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_WINDOW_</string>
		<key>animation-height</key>
		<integer>320</integer>
		<key>animation-width</key>
		<integer>295</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>Bugs.png</string>
		<key>icon-image-pressed</key>
		<string>BugsBlue.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACKING_BUGS_</string>
		<key>animation-height</key>
		<integer>450</integer>
		<key>animation-width</key>
		<integer>400</integer>
		<key>animation-scale</key>
		<string>1.3</string>
		<key>animation-y-offset</key>
		<string>-0.18</string>
		<key>animation-x-offset</key>
		<string>0</string>
		<key>sound-file</key>
		<string>bugs</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>Cloud.png</string>
		<key>icon-image-pressed</key>
		<string>CloudBlue.png</string>
		<key>animation-frames-amount</key>
		<integer>143</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_CLOUD_</string>
		<key>animation-height</key>
		<integer>458</integer>
		<key>animation-width</key>
		<integer>444</integer>
		<key>sound-file</key>
		<string>clouds</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>icecream.png</string>
		<key>icon-image-pressed</key>
		<string>icecreamblue.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_ICE_CREAM_</string>
		<key>animation-height</key>
		<integer>540</integer>
		<key>animation-width</key>
		<integer>400</integer>
		<key>animation-y</key>
		<string>0</string>
		<key>animation-x</key>
		<string>600</string>
		<key>sound-file</key>
		<string>icecream</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>mouth.png</string>
		<key>icon-image-pressed</key>
		<string>mouthblue.png</string>
		<key>animation-frames-amount</key>
		<integer>119</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_MOUTH_</string>
		<key>animation-height</key>
		<integer>540</integer>
		<key>animation-width</key>
		<integer>960</integer>
		<key>animation-x</key>
		<string>0</string>
		<key>animation-y</key>
		<string>0</string>
		<key>sound-file</key>
		<string>mouth</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>Hand.png</string>
		<key>icon-image-pressed</key>
		<string>Handblue.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_Audience_</string>
		<key>animation-height</key>
		<string>238</string>
		<key>animation-width</key>
		<string>960</string>
		<key>animation-x</key>
		<string>0</string>
		<key>animation-y</key>
		<string>430</string>
		<key>sound-file</key>
		<string>fans</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>finger.png</string>
		<key>icon-image-pressed</key>
		<string>FingerBlue.png</string>
		<key>animation-frames-amount</key>
		<integer>47</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_HAND_</string>
		<key>animation-height</key>
		<integer>188</integer>
		<key>animation-width</key>
		<integer>480</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>dog.png</string>
		<key>icon-image-pressed</key>
		<string>dogblue.png</string>
		<key>animation-frames-amount</key>
		<integer>155</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_DOG_</string>
		<key>animation-height</key>
		<integer>305</integer>
		<key>animation-width</key>
		<integer>411</integer>
		<key>sound-file</key>
		<string>dog</string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>thought.png</string>
		<key>icon-image-pressed</key>
		<string>thoughtblue.png</string>
		<key>animation-frames-amount</key>
		<integer>167</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACK_SHEEP_</string>
		<key>animation-height</key>
		<integer>400</integer>
		<key>animation-width</key>
		<integer>400</integer>
		<key>animation-scale</key>
		<string>1.1</string>
		<key>animation-y-offset</key>
		<string>-0.6</string>
		<key>animation-x-offset</key>
		<string>0.8</string>
		<key>sound-file</key>
		<string>bubble_thought_sheep</string>
	</dict>
	<dict>
		<key>type</key>
		<string>face-tracking</string>
		<key>icon-image</key>
		<string>house.png</string>
		<key>icon-image-pressed</key>
		<string>houseblue.png</string>
		<key>animation-frames-amount</key>
		<integer>95</integer>
		<key>animation-image-prefix</key>
		<string>OL_FACE_TRACK_NOVA_</string>
		<key>animation-height</key>
		<integer>450</integer>
		<key>animation-width</key>
		<integer>450</integer>
		<key>animation-scale</key>
		<string>1.5</string>
		<key>animation-y-offset</key>
		<string>-0.18</string>
		<key>animation-x-offset</key>
		<string>0</string>
		<key>sound-file</key>
		<string>monster</string>
	</dict>
	<dict>
		<key>type</key>
		<string>animated-scene</string>
		<key>icon-image</key>
		<string>elephant.png</string>
		<key>icon-image-pressed</key>
		<string>elephantblue.png</string>
		<key>animation-frames-amount</key>
		<integer>83</integer>
		<key>animation-image-prefix</key>
		<string>OL_AS_ELEPHANT_</string>
		<key>animation-height</key>
		<integer>540</integer>
		<key>animation-width</key>
		<integer>960</integer>
		<key>animation-x</key>
		<string>0</string>
		<key>animation-y</key>
		<string>0</string>
		<key>sound-file</key>
		<string>elephant</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sticker</string>
		<key>icon-image</key>
		<string>bee.png</string>
		<key>icon-image-pressed</key>
		<string>beeblue.png</string>
		<key>animation-frames-amount</key>
		<integer>47</integer>
		<key>animation-image-prefix</key>
		<string>OL_STICKER_BEE_</string>
		<key>animation-height</key>
		<integer>393</integer>
		<key>animation-width</key>
		<integer>361</integer>
	</dict>
</array>
</plist>
